# **Install**

In [9]:
!pip install numpy==1.26.0
!pip install pandas==2.2.1
!pip install seaborn==0.13.2
!pip install matplotlib==3.8.3
!pip install scikit-learn==1.4.1.post1

Requirement already satisfied: numpy==1.26.0 in d:\software2\anaconda\lib\site-packages (1.26.0)
Requirement already satisfied: pandas==2.2.1 in d:\software2\anaconda\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\software2\anaconda\lib\site-packages (from pandas==2.2.1) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\software2\anaconda\lib\site-packages (from pandas==2.2.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\software2\anaconda\lib\site-packages (from pandas==2.2.1) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in d:\software2\anaconda\lib\site-packages (from pandas==2.2.1) (2023.3)
Requirement already satisfied: six>=1.5 in d:\software2\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.1) (1.16.0)
Requirement already satisfied: seaborn==0.13.2 in d:\software2\anaconda\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\software2\anaconda\lib\site-packages (from seaborn==0.13.2) (1.26.0)
Requirement already satisfied: pandas>=1.2 in d:\software2\anaconda\lib\site-packages (from seaborn==0.13.2) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\software2\anaconda\lib\site-packages (from seaborn==0.13.2) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.4.4)
Requirement already satisfied: packaging>=20.0 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (23.1)
Requirement already satisfied: pillow>=8 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in d:\software2\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\software2\anaconda\lib\site-packages (from pandas>=1.2->seaborn==0.13.2) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in d:\software2\anaconda\lib\site-packages (from pandas>=1.2->seaborn==0.13.2) (2023.3)
Requirement already satisfied: six>=1.5 in d:\software2\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.16.0)
Requirement already satisfied: matplotlib==3.8.3 in d:\software2\anaconda\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (1.26.0)
Requirement already satisfied: packaging>=20.0 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (23.1)
Requirement already satisfied: pillow>=8 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in d:\software2\anaconda\lib\site-packages (from matplotlib==3.8.3) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\software2\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib==3.8.3) (1.16.0)
Collecting scikit-learn==1.4.1.post1
  Downloading scikit_learn-1.4.1.post1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in d:\software2\anaconda\lib\site-packages (from scikit-learn==1.4.1.post1) (1.26.0)
Requirement already satisfied: scipy>=1.6.0 in d:\software2\anaconda\lib\site-packages (from scikit-learn==1.4.1.post1) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in d:\software2\anaconda\lib\site-packages (from scikit-learn==1.4.1.post1) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\software2\anaconda\lib\site-packages (from scikit-learn==1.4.1.post1) (2.2.0)
Downloading scikit_learn-1.4.1.post1-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB 653.6 kB/s eta 0:00:17
   ---------------------------------------- 0.1/10.6 MB 1.2 MB/s eta 0:00:09
    --------------------------------------- 0.3/10.6 MB 1.6 MB/s eta 0:00:07
   - -------------------------------------- 0.5/10.6 MB 2.3 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/10.6 MB 2.5 MB/s eta 0:00:04
   --- ------------------------------------ 0.8/10.6 MB 2.8 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/10.6 MB 2.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/10.6 MB 3.0 MB/s eta 0:00:04
   ----- ---------------------------------- 1.4/10.6 MB 3.1 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/10.6 MB 3.2 MB/s eta 0:00:03
   ------ --------------------------------- 1.7/10.6 MB 3.2 MB/s eta 0:00:03
   ------- -------------------------------- 1.9/10.6 MB 3.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/10.6 MB 3.3 MB/s eta 0:00:03
   -------- ------------------------------- 2.3/10.6 MB 3.4 MB/s eta 0:00:03
   --------- ------------------------------ 2.4/10.6 MB 3.4 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/10.6 MB 3.4 MB/s eta 0:00:03
   ---------- ----------------------------- 2.8/10.6 MB 3.5 MB/s eta 0:00:03
   ----------- ---------------------------- 2.9/10.6 MB 3.4 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/10.6 MB 3.4 MB/s eta 0:00:03
   ------------ --------------------------- 3.2/10.6 MB 3.4 MB/s eta 0:00:03
   ------------ --------------------------- 3.4/10.6 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.6 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 3.8/10.6 MB 3.5 MB/s eta 0:00:02
   --------------- ------------------------ 4.0/10.6 MB 3.5 MB/s eta 0:00:02
   --------------- ------------------------ 4.2/10.6 MB 3.6 MB/s eta 0:00:02
   ---------------- ----------------------- 4.4/10.6 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 4.6/10.6 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 4.8/10.6 MB 3.6 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/10.6 MB 3.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.1/10.6 MB 3.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.3/10.6 MB 3.7 MB/s eta 0:00:02
   -------------------- ------------------- 5.5/10.6 MB 3.6 MB/s eta 0:00:02
   --------------------- ------------------ 5.6/10.6 MB 3.6 MB/s eta 0:00:02
   --------------------- ------------------ 5.8/10.6 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 6.0/10.6 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.1/10.6 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.3/10.6 MB 3.6 MB/s eta 0:00:02
   ------------------------ --------------- 6.5/10.6 MB 3.7 MB/s eta 0:00:02
   ------------------------- -------------- 6.7/10.6 MB 3.7 MB/s eta 0:00:02
   ------------------------- -------------- 6.9/10.6 MB 3.7 MB/s eta 0:00:02
   -------------------------- ------------- 7.0/10.6 MB 3.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.2/10.6 MB 3.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 7.6/10.6 MB 3.7 MB/s eta 0:00:01
   ----------------------------- ---------- 7.8/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.0/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.2/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.4/10.6 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.8/10.6 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 8.9/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.3/10.6 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.5/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 9.6/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 10.2/10.6 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.6 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 3.8 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
Successfully installed scikit-learn-1.4.1.post1

# **Import**

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# **Used Functions**

In [20]:
#Write here your function with comments

# **Data**

### **Data Read**

In [11]:
data=pd.read_csv("ApartmentRentPrediction.csv")

### **Data Header**

In [14]:
data.head(5)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5508832632,housing/rent/apartment,"Two BR - $1,194/mo - Apartment - come and see ...","Come experience. in Cary, NC offering recently...","Clubhouse,Fireplace,Gym,Patio/Deck,Playground,...",2.5,2.0,USD,No,Thumbnail,...,"$1,194",Monthly,800,NaN,Cary,NC,35.7585,-78.7783,RentDigs.com,1568755960
1,5664576849,housing/rent/apartment,One BR 640 West Wilson Street,This unit is located at 640 West Wilson Street...,"Cable or Satellite,Dishwasher,Elevator,Garbage...",1.0,1.0,USD,No,Thumbnail,...,"$1,370",Monthly,795,640 West Wilson St,Madison,WI,43.0724,-89.4003,RentLingo,1577015508
2,5668619365,housing/rent/apartment,One BR 2777 Sw Archer Rd,"This unit is located at 2777 Sw Archer Rd, Gai...","Basketball,Cable or Satellite,Dishwasher,Inter...",1.0,1.0,USD,No,Thumbnail,...,"$1,009",Monthly,560,2777 SW Archer Road,Gainesville,FL,29.6533,-82.3656,RentLingo,1577358921
3,5668632604,housing/rent/apartment,One BR 534-542 Park Avenue,"This unit is located at 534-542 Park Avenue, O...",NaN,1.0,1.0,USD,No,Thumbnail,...,$695,Monthly,600,534-542 Park Ave,Omaha,NE,41.2562,-96.0404,RentLingo,1577359849
4,5668637441,housing/rent/apartment,Three BR 2216 S Palm Grove Ave,"This unit is located at 2216 S Palm Grove Ave,...",NaN,3.0,3.0,USD,No,Thumbnail,...,"$3,695",Monthly,1600,2216 S Palm Grove Avenue,Los Angeles,CA,34.0372,-118.2972,RentLingo,1577360159

### **Data Describe**

In [16]:
data.describe()

,id,bathrooms,bedrooms,price,square_feet,latitude,longitude,time
count,9.000000e+03,8970.000000,8993.000000,9000.000000,9000.000000,8993.00000,8993.000000,9.000000e+03
mean,5.623668e+09,1.380769,1.744023,1487.286222,947.138667,37.67689,-94.778612,1.574906e+09
std,7.007402e+07,0.616171,0.942446,1088.561190,668.806214,5.51527,15.769232,3.755142e+06
min,5.508654e+09,1.000000,0.000000,200.000000,106.000000,21.31550,-158.022100,1.568744e+09
25%,5.509250e+09,1.000000,1.000000,950.000000,650.000000,33.66200,-101.858700,1.568781e+09
50%,5.668610e+09,1.000000,2.000000,1275.000000,802.000000,38.75550,-93.707700,1.577358e+09
75%,5.668626e+09,2.000000,2.000000,1695.000000,1100.000000,41.34980,-82.446800,1.577359e+09
max,5.668663e+09,8.500000,9.000000,52500.000000,40000.000000,61.59400,-70.191600,1.577362e+09

### **Data Info**

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9000 non-null   int64
 1   category       9000 non-null   object
 2   title          9000 non-null   object
 3   body           9000 non-null   object
 4   amenities      5815 non-null   object
 5   bathrooms      8970 non-null   float64
 6   bedrooms       8993 non-null   float64
 7   currency       9000 non-null   object
 8   fee            9000 non-null   object
 9   has_photo      9000 non-null   object
 10  pets_allowed   5249 non-null   object
 11  price          9000 non-null   int64
 12  price_display  9000 non-null   object
 13  price_type     9000 non-null   object
 14  square_feet    9000 non-null   int64
 15  address        6029 non-null   object
 16  cityname       8934 non-null   object
 17  state          8934 non-null   object
 18  latitude       8993 non-null   float64
 19  longitude      8993 non-null   float64
 20  source         9000 non-null   object
 21  time           9000 non-null   int64
dtypes: float64(4), int64(4), object(14)
memory usage: 1.5+ MB

### **Data Nulls**

In [19]:
data.isna().sum()

id                  0
category            0
title               0
body                0
amenities        3185
bathrooms          30
bedrooms            7
currency            0
fee                 0
has_photo           0
pets_allowed     3751
price               0
price_display       0
price_type          0
square_feet         0
address          2971
cityname           66
state              66
latitude            7
longitude           7
source              0
time                0
dtype: int64